$primaryColor: #304de5;
$whiteColor: #ffffff;
$black: #1c1b21;
$lightGrey: #706e7e;
$lightBlue: #b7bfea;

.wrapper {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.mbtn {
  margin-bottom: 30px;
}

.m100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  display: flex;
  gap: 10px;
  padding: 14px 30px;
  align-items: center;
  justify-content: center;
  font: normal normal normal 16px/25px Poppins;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: $primaryColor;
  color: $whiteColor;
  &:hover {
    background-color: #4665ff;
    // border: 1px solid #304de5;
    // box-shadow: 0 0 0 1px $primaryColor;
  }
}

.btnW,
.btnW:link,
.btnW:visited {
  display: inline-block;
  display: flex;
  gap: 10px;
  padding: 14px 30px;
  align-items: center;
  justify-content: center;
  font: normal normal normal 16px/25px Poppins;
  text-decoration: none;

  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fff;
  color: $primaryColor;
  &:hover {
    color: $whiteColor;
    background-color: $primaryColor;
    box-shadow: 0 0 0 1px $whiteColor;
  }
}
