$primaryColor: #304de5;
$blackFont: #1c1b21;

.wrapper {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
}

.mbtn {
  margin-bottom: 30px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font: normal normal normal 16px/25px Poppins;
  text-decoration: none;
  width: 139px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: $primaryColor;
  color: #fff;
}
